<body class="h-screen bg-gradient-to-r from-green-400 to-blue-500">
  <div
    class="grid place-items-center bg-gradient-to-r from-green-400 to-blue-500"
  >
    <h1
      class="font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600 drop-shadow-lg shadow-black"
    >
      TODO APP
    </h1>
    <div class="p-2 bg-white m-8 rounded w-2/3">
      <app-todo-input></app-todo-input>
      <hr class="bg-white first-letter:border-8 m-2" />
      <div class="flex justify-between">
        <button (click)="completeAll()">Complete all tasks</button>
        <button (click)="clearCompleted()">Clear completed</button>
      </div>
      <app-todo-list></app-todo-list>
      <hr class="bg-white first-letter:border-8 m-2" />
      <div class="flex justify-between">
        <span>{{ todos.length }} tasks left</span>
        <div class="flex">
          <button class="mr-3" (click)="getAll()">All</button>
          <button class="mr-3" (click)="getUncompleted()">Uncompleted</button>
          <button (click)="getCompleted()">Completed</button>
        </div>
      </div>
    </div>
  </div>
</body>
